<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/funciones.js"></script>

    <title>Document</title>
</head>

<body>
    <main>
        <div class="primario">
            <img src="../imagenes/a.jpg" alt="">
            <textarea name="" id="mensaje_a_cifrar" cols="30"  rows="12"></textarea>
            <div class="div-botones">
                <p>&#9888 Letras minusculas sin acento</p>
                <button class="btnStyle1" type="button" onclick="cifra()">Encriptar </button>
                <button class="btnStyle2" type="button" onclick="descifra()">Desencriptar </button>
            </div>
        </div>
        <div class="secundario">
            <p id="mesaje_cifrado">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid rerum laudantium impedit corrupti
                nesciunt temporibus ipsam dolorem maxime facere nam! Quidem eos commodi eius obcaecati maiores
                consectetur adipisci excepturi aliquam!</p>
            <button onclick="copiar()">Copiar</button>
        </div>
    </main>

</body>

</html>